:root {
    --font-main: 'Manrope', sans-serif;
    --color-primary: #3B82F6;
    --color-app-bg: #0F0F0F;
    --color-bg-gray:#222222;
    --color-red: #FF3300;
    --color-blue: #0004FF;
    --color-green: rgba(81, 255, 0, 0.87);
    --color-orange: #F38C17;
    --color-yellow: #FFEA00;

    --color-index: rgba(219, 155, 105, 0.5);
    --radius-xl: 1.2rem;
    --radius-3xl: 2.4rem;
}
html{
scrollbar-gutter: stable both-edges;
    background-color: var(--color-bg-gray);
}
html,body {
    font-family: var(--font-main), serif;
    font-size: 10px;
    user-select: text;
    color: white;
}

::selection  {
    color: #0F0F0F;
    background-color: rgba(255, 255, 255, 0.5);
}